<%= stylesheet_link_tag "main" %><body><h1>New question</h1>
<div align="right">
<%= link_to 'Go Back to Survey Page', surveys_path %>
</div>
<%= render 'form' %>
<%= link_to 'view question page',  :controller => "surveys" , :action => "show" , :id =>session[:surveyid] %></body>


